<VirtualHost *:80>
    ServerAdmin admin@example.local
    ServerName  {{ ansible_hostname }}
    DocumentRoot /var/www/html

    Alias /mediawiki {{ mw_install_dir }}

    <Directory {{ mw_install_dir }}>
        Options -Indexes +FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog  ${APACHE_LOG_DIR}/mediawiki_error.log
    CustomLog ${APACHE_LOG_DIR}/mediawiki_access.log combined
</VirtualHost>
